<!-- Header Content -->
<div class="logo-section">
    <a href="/">
        {{ $logo := resources.Get "images/logo-bml.png" | resources.Fingerprint }}
        {{ if $logo }}
        <img src="{{ $logo.RelPermalink }}" alt="By Marcelo Lewin Logo" class="logo-image">
        {{ end }}
    </a>
</div>
<nav class="nav">
    {{ range .Site.Menus.main }}
        {{ if eq .Name "Discord" }}
            <a href="{{ .URL }}" class="discord-btn" target="_blank">{{ .Name }}</a>
        {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
    {{ end }}
</nav>