{{ define "main" }}
    <main>
        <article class="blog-single">
            <div class="container">
                <h1>{{ .Title }}</h1>
                <div class="post-meta">
                    Published on {{ .Date.Format "January 2, 2006" }} • {{ .ReadingTime }} min read
                </div>
                
                <div class="content">
                    {{ .Content }}
                </div>
                
                <div class="blog-back-section">
                    <a href="{{ "blog/" | relURL }}" class="blog-back-link">← Back to Blog</a>
                </div>
            </div>
        </article>
    </main>
{{ end }}